@{
    ViewData["Title"] = "Pagina Inicial";
}

<div>

    <h1 class="display-4">Menus de Cadastros</h1><p></p><br /><p></p><p></p>


    <a type="submit" class="btn btn-primary " asp-controller="Alunos" asp-action="Inserir">Cadastrar Aluno</a>

    <a type="submit"  class="btn btn-primary" asp-controller="Cursos" asp-action="Inserir">Cadastrar Curso</a>

    <a type="submit"  class="btn btn-primary" asp-controller="Disciplinas" asp-action="Inserir">Cadastrar Disciplina</a>

</div>
<footer>
        <div>
            
        </div>
    </footer>